.nav-menu /* generated name */ {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    color: #f7f7f7;
    box-shadow: 1px 2px 3px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.page-title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #4d93de;
}

.nav-menu .home-btn {
    text-align: left;
}

.nav-menu .user-btn {
    text-align: right;
}

.nav-menu .glyphicon {
    font-size: 20px;
}
