.service-button {
    display: block;
    margin: 0 60px;
    text-decoration: none;
    color: rgb(232, 230, 230);
    background: #f7f7f7;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 5px;
    -moz-box-shadow: 0 1px 5px;
    -webkit-box-shadow: 0 1px 5px;
    -o-box-shadow: 0 1px 5px;
}

.service-button:hover {
    text-decoration: none !important;
    color: rgb(189, 189, 189);
}

.service-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #4d93de;
    font-size: 16px;
}

.glyphicon {
    display: block;
    font-size: 65px;
    line-height: 50px;
    padding-top: 60px;
    padding-bottom: 40px;
}

